# Tuple 
- In tuple values are not directly change
- It can be any type

- Dulicate Element are allowed

In [73]:
tt=(1,2,3,3,4)
print(tt)

(1, 2, 3, 3, 4)

In [3]:
#How to create tuple 
t1=(1,2,3,"hiii",6j,True)
print(t1)
print(len(t1))

(1, 2, 3, 'hiii', 6j, True)
6

In [4]:
#Check the type of tuple
print(type(t1))

<class 'tuple'>

In [5]:
#print all Element of tuple
print(t1[0:])

(1, 2, 3, 'hiii', 6j, True)

In [7]:
#print  Element from hiii to True of tuple
print(t1[3:])

('hiii', 6j, True)

In [8]:
#print all Element of tuple(Negative index)
print(t1[:-1])

(1, 2, 3, 'hiii', 6j)

In [11]:
#print 3 to hiii (Negative index)
print(t1[-4:-2])

(3, 'hiii')

### Change the tuple items
- once tuple is created then elements will not modify but there is another way to modify it
- Tuple will modify using list

In [12]:
list1=list(t1)
print(list1)
print(type(list1))

[1, 2, 3, 'hiii', 6j, True]
<class 'list'>

In [15]:
list1[3]="Hello"
print(list1)
print(t1)

[1, 2, 3, 'Hello', 6j, True]
[1, 2, 3, 'Hello', 6j, True]

In [16]:
print(t1)

[1, 2, 3, 'Hello', 6j, True]

In [17]:
#Convert t1(tuple) in list
l1=list(t1)

In [19]:
#Change word "Hello" by "Yo"
l1[-3]="Yo"
#Again convet to tuple 
t2=tuple(l1)
print(l1)
print(t2)
print(type(t2))

[1, 2, 3, 'Yo', 6j, True]
(1, 2, 3, 'Yo', 6j, True)
<class 'tuple'>

In [25]:
#Print all elemet using loops

for i in t2:
    print(i,end=" ")
else:
    print("\nCompleted")

1 2 3 Yo 6j True
Completed

In [27]:
#check "6j" present or not
6j in t2

True

In [28]:
5j not in t2

True

In [29]:
#Add new items fails in tuple, varify
t2[6]="gsjg"

TypeError: 'tuple' object does not support item assignment

In [37]:
#count no. of element in tuple
print(t2.count(5j))
print(t2.count(2))

0
1

In [42]:
#create tuple with only 1 element 
t4=("kjqsi",)

print(t4)
print(type(t4))

('kjqsi',)
<class 'tuple'>

In [52]:
#Remove element from tuple
#Direct deleting is not works with tuple
print(t2)
l2=list(t2)
print(type(l2))
l2.pop()
print(l2)
t3=tuple(l2)
print(t3)

(1, 2, 3, 'Yo', 6j, True)
<class 'list'>
[1, 2, 3, 'Yo', 6j]
(1, 2, 3, 'Yo', 6j)

In [53]:
#Delete entired tuple
del t2

In [61]:
#How to join to tuple
t1=(1,2,3,33,4)
t2=(23,43,5,55,3)
t3=t1+t2
print(t3)
print(type(t3))
l1=[1,1,2,3,4,3]
t4=l1+t3    #List and tuple can't concat

(1, 2, 3, 33, 4, 23, 43, 5, 55, 3)
<class 'tuple'>

TypeError: can only concatenate list (not "tuple") to list

In [63]:
#How to construct tuple with tuple
t1=tuple((1,2,3,4,42,5.5))
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3, 4, 42, 5.5)

## Tuple Methods
- There ara only 2 methods avilable for tuple 
 1. Count 
 2. Index

In [66]:
print(t1)

(1, 2, 3, 4, 42, 5.5)

In [70]:
print("Count of 3 in tuple=",t1.count(3))

Count of 3 in tuple= 1

In [71]:
print("Count of 5.5 in tuple=",t1.count(5.5))

Count of 5.5 in tuple= 1

In [72]:
print("Index of 3=",t1.index(3))

Index of 3= 2

In [10]:
t2=(1,2,3,4,5)
print(t2)
i=1
while i in t2:
    print(i)
    i=i+1

(1, 2, 3, 4, 5)
1
2
3
4
5

# Set 
- Unorded
- Uninxed
- Mutable(Chnagleble) for only few tasks(Union,Intersection,.....)
- Allows different types of elements
- Duplicate elements are not allows
- {} is used to represent a SET

In [11]:
#create set 
set1={1,2,3,4,5,"hgsd",5.7}
print(set1)

{1, 2, 3, 4, 5, 5.7, 'hgsd'}

In [12]:
#print all elments using loop 
for i in set1:
    print(i,end=" ")

1 2 3 4 5 5.7 hgsd

In [13]:
# Check element exits set or not
print(5.7 in set1)

True

In [14]:
print(5.7 not in set1)

False

In [18]:
# Change items (Modity set) elements
#Set alllows to inset new element at last using add method & Existing element will not modify 
set1.add("hufkdh")
print(set1)
set1.add(99)
print(set1)

{1, 2, 3, 4, 5, 5.7, 'hgsd', 'hufkdh'}
{1, 2, 3, 4, 5, 5.7, 99, 'hgsd', 'hufkdh'}

In [20]:
#How to add multiple elements in set 
set1.update(["ghwhdqg",22,"gfyd",3+7j])
print(set1)

{'d', 1, 2, 3, 4, 5, 5.7, 99, 'ghwhdqg', (3+7j), 'gfyd', 'q', 'hgsd', 'g', 'h', 22, 'w', 'hufkdh'}

## Remove set elements
### using remove method

In [21]:
set1.remove(5.7)
print(set1)

{'d', 1, 2, 3, 4, 5, 99, 'ghwhdqg', (3+7j), 'gfyd', 'q', 'hgsd', 'g', 'h', 22, 'w', 'hufkdh'}

In [25]:
#using discard method
set1.discard("d")
print(set1)

{1, 2, 3, 4, 5, 99, 'ghwhdqg', (3+7j), 'gfyd', 'q', 'hgsd', 'g', 'h', 22, 'w', 'hufkdh'}

In [26]:
set2=set1.copy()

In [27]:
set1.add("gshad")
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'gfyd', 22, 'g', 'ghwhdqg', 'w', 'q', 'hufkdh', (3+7j), 99, 'gshad', 'hgsd', 'h'}
{1, 2, 3, 4, 5, 'gfyd', 22, 'g', (3+7j), 99, 'ghwhdqg', 'hufkdh', 'hgsd', 'h', 'w', 'q'}

In [28]:
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'gfyd', 22, 'g', 'ghwhdqg', 'w', 'q', 'hufkdh', (3+7j), 99, 'gshad', 'hgsd', 'h'}
{1, 2, 3, 4, 5, 'gfyd', 22, 'g', (3+7j), 99, 'ghwhdqg', 'hufkdh', 'hgsd', 'h', 'w', 'q'}

In [29]:
set2.add("Yo")

In [30]:
print(set2)

{1, 2, 3, 4, 5, 'Yo', 'gfyd', 22, 'g', (3+7j), 99, 'ghwhdqg', 'hufkdh', 'hgsd', 'h', 'w', 'q'}

In [31]:
#How to clear set 
set1.clear()

In [32]:
set1

set()

### How to join 2 or more sets
- Union 
- Insersection
- Difference
- Issubset
- Issuperset
- Isdisjoint
- Symmetric diffence

In [44]:
sa={"a","s","d","f","g","b"}
sb={"z","x","c","v","b"}
print(sa)
print(sb)

{'d', 'b', 'a', 'g', 's', 'f'}
{'z', 'v', 'x', 'b', 'c'}

In [42]:
# Union Method
st=sa.union(sb)
print(st)

{'d', 'z', 'v', 'x', 'b', 'a', 'c', 'g', 's', 'f'}

In [47]:
#Differnce Method
print(sa.difference(sb))  #sa-sb
print(sb.difference(sa))  #sb-sa

{'d', 'a', 'g', 's', 'f'}
{'z', 'v', 'x', 'c'}

In [46]:
#Intrsection method
print(sa.intersection(sb))

{'b'}

In [54]:
sd={1,2,3,4,5}
sc={1,2,3,4,5,6,7,8,9}
sa.isdisjoints(sd)
print(sd.issubset(sd))
sc.issuperset(sd)

True

True

# Dictionary
- Unordered
- Changeble
- {} is used to create it 
- Element will be form of "Key value " pair

In [4]:
#print Dictionry 
v={'brand':"Jaguar","Model":"RS200"}
print(v)

{'brand': 'Jaguar', 'Model': 'RS200'}

In [8]:
print(v["brand"])
print(v["Model"])

Jaguar
RS200

In [9]:
#print using get dictionary
print(v.get("brand"))

Jaguar

In [17]:
#Change items-
v["model"]="fdjcfjgvj"
print(v)

{'brand': 'Jaguar', 'Model': 'xcder', 'model': 'fdjcfjgvj'}

In [18]:
#print using loop
for i in v.values():
    print(i)

Jaguar
xcder
fdjcfjgvj

In [19]:
for i in v:
    print(i)

brand
Model
model

In [24]:
#print both values using loop 
for i,j in v.items():
    print(i,j)

brand Jaguar
Model xcder
model fdjcfjgvj

In [25]:
#Lenth of dectionary
print(len(v))

3

In [35]:
#Check Jaguar is present or not
print("Jaguar"  in v.values())
print("Model" in v)

True
True

In [37]:
#How to add new items in dictionary
v["Name"]="Yogesh"

In [38]:
print(v)

{'brand': 'Jaguar', 'Model': 'xcder', 'model': 'fdjcfjgvj', 'Name': 'Yogesh'}

In [40]:
#Remove element from dictionary
v.pop("model")

'fdjcfjgvj'

In [41]:
print(v)

{'brand': 'Jaguar', 'Model': 'xcder', 'Name': 'Yogesh'}

In [42]:
v["Name"]="Owner"
print(v)

{'brand': 'Jaguar', 'Model': 'xcder', 'Name': 'Owner'}

In [43]:
v["Name"]="Yogesh"

In [44]:
v

{'brand': 'Jaguar', 'Model': 'xcder', 'Name': 'Yogesh'}

In [45]:
#emove using del key word 
del v

In [47]:
v={'brand': 'Jaguar', 'Model': 'xcder', 'Name': 'Yogesh'}

In [49]:
del v["Model"]

In [50]:
v

{'brand': 'Jaguar', 'Name': 'Yogesh'}

In [51]:
#CLear Dictionary & Copy 
vcpy=v.copy()

In [52]:
v.clear()

In [53]:
v

{}

In [54]:
vcpy

{'brand': 'Jaguar', 'Name': 'Yogesh'}

In [55]:
#Make copy of vcpy using dict ()function
new_copy=dict(vcpy)

In [56]:
new_copy

{'brand': 'Jaguar', 'Name': 'Yogesh'}

In [57]:
new_copy["Name"]

'Yogesh'

In [60]:
#How to create nested Dictionaries
#Create 4 dictionaries for your mobile,tv,vehicle
#Laptop with 4 parameters each merge all these 4 
m={"brand":"MOTO","model":"G4+","Ram":"3GB","Rom":"64GB"}
tv={"brand":"Samsaung","model":"IDK","Display":"HD","Smart_tV":"YES"}

veh={"brand":"Jaguar","Owner":"Yogesh","Model":"xc-233","Year":2030}
laptop={"brand":"Dell","Owner":"Yogesh","Ram":"4GB","Rom":"512GB"}

In [65]:
my_items_dict={"Mobile_dict":m       ,"TV_dict":tv     ,"Vehicle_dict":veh    ,"Laptop_dict":laptop}

In [66]:
print(my_items_dict)

{'Mobile_dict': {'brand': 'MOTO', 'model': 'G4+', 'Ram': '3GB', 'Rom': '64GB'}, 'TV_dict': {'brand': 'Samsaung', 'model': 'IDK', 'Display': 'HD', 'Smart_tV': 'YES'}, 'Vehicle_dict': {'brand': 'Jaguar', 'Owner': 'Yogesh', 'Model': 'xc-233', 'Year': 2030}, 'Laptop_dict': {'brand': 'Dell', 'Owner': 'Yogesh', 'Ram': '4GB', 'Rom': '512GB'}}

In [69]:
#Another way to create dictionary using contructor
new_dict=dict(name="Yo",nnn=3433453)
print(new_dict)

{'name': 'Yo', 'nnn': 3433453}

In [70]:
del new_dict