In [1]:
#Boolean has 2 values -True or false
print(10>3)
print(14<=76)
print(10>34)

True
True
False

In [9]:
a=12
b=66
if(a==b):
    print(a<=b)
else:
    print(b)

66

In [25]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool(" "))
print(bool(""))
print(bool())
print(bool([]))
print(bool([0]))    #This is not empty set so ans. will "true"
print(bool(None))
print(bool({1,2}))

True
False
True
False
True
False
False
False
True
False
True

#[]   ->List
#{value,value,....}   ->Set
#()   ->Tuple
#{key:value,key:value,....}   ->Disctionary

# Conclusion

- Most of boolean values are True

- Some boolean values are false

# Operator

Pytrhon Supports 7 different type of Operaters

- Arrithmetic 
- Assignment
- Comparision
- Logical
- Identity
- Membership
- Bitwise



# Arrithmetic Operation

In [1]:
name=input("Enter your name")
print("Welcome "+name+" we are learning Arrithmetic operations")
n1=int(input("Enter 1st no."))
n2=int(input("Enter 2nd no."))
print("Result=",n1+n2)
print("Result=",n1-n2)
print("Result=",n1*n2)
print("Result=",n1/n2)
print("Result=",n1%n2)

Enter your nameYogesh
Welcome Yogesh we are learning Arrithmetic operations
Enter 1st no.12
Enter 2nd no.34
Result= 46
Result= -22
Result= 408
Result= 0.35294117647058826
Result= 12

# Assignment

In [2]:
a=10
print(a)
a+=5 #a=a+5
print(a)
a-=7 #a=a-7
print(a)
a*=4 #a=a*4
print(a)
a/=3 #a=a/3
print(a)
a%=4 #a=a%4
print(a)
a//=3
print(a)
a**=5
print(a)

10
15
8
32
10.666666666666666
2.666666666666666
0.0
0.0

# Bitwise Operators

In [2]:
a=2
print(a)
a&=3
print(a)
a|=4
print(a)
a^=5
print(a)
#This is right shif--> to make no. half
a>>=1
print(a)
#This is left shift--> tomake no.double
a<<=2
print(a)

2
2
6
3
1
4

# Comparision Operators

- Equal to(==)
- Not equal to(!=)
- Greator than(>)
- Less Than(<)
- Greator than Equal to(>=)
- Less Than Equal to(<=)

In [6]:
nu1=22
nu2=45
print(nu1==nu2);print(nu1<=nu2);print(nu1>nu2);print(nu1>=nu2);print(nu1<nu2);

False
True
False
False
True

# Logical operators

- And
- Or
- Not

# And

In [5]:
a=20
b=30
if a==20 and b==30:
    print("ri8")

ri8

# Or

In [9]:
if a==20 or b==30:
    print("ri8")

ri8

# Not

In [12]:
if not(a==10 and b==45):
    print("ri8")

ri8

# Identity Operation

- is 
- is not

In [7]:
n1=33
n2=44
print(n1 is n2)
n1 is not n2

False

True

# Membership Operation
- in 
- Not in

In [8]:
set1={1,2,3,4,5}
list1=["twfyt","yo","aw","dfghh"]
print("yo" in list1)
print(34 in set1)
print("ysetgdyugd" not in list1 )

True
False
True

In [26]:
tuple1=(23,4,56,7,22)
print(23 in tuple1)
print(64567 not in tuple1)

True
True

#  Bitwise Operator

- And
-

# List
- It is orderd set of dissimilar data elements
- It is indexed
- Mutable(Changeable)
- [] is use yo create

In [17]:
list2=[2,"yigh",5.6,"jfhs",6j]
#      0    1    2     3     4
#     -5   -4   -3    -2    -1
print(type(list2))
len(list2)

<class 'list'>

5

In [18]:
list2[1]

'yigh'

In [19]:
list2[-4]

'yigh'

In [20]:
type(6j)

complex

In [28]:
#Element to print from satrting index to end
list2[0:]

[2, 'yigh', 5.6, 'jfhs', 6j]

In [23]:
#Element to print from 3 imdex to end
list2[3:]

['jfhs', 6j]

In [25]:
#Element to print from 3 imdex to 4 index
list2[3:4]

['jfhs']

In [32]:
#Element to print "jhfs"  to starting
print(list2[:-1])
slist=list2[:4]
len(slist)

[2, 'yigh', 5.6, 'jfhs']

4

In [34]:
print(list2[1]+" "+list2[3])   #It make string not list

yigh jfhs

# What is true about list 
- List can have any no. of element 
- Element can be ofdifferent types(int ,float,...)
- List can have list as a element

# Multidimensional List

In [37]:
n44=[[1,2],["yuiuh","hj"],[2.3,33.3]]
n44[1][1]

'hj'

# Printing using loops

In [40]:
for i in n44:
    print(i,end=(" "))

[1, 2] ['yuiuh', 'hj'] [2.3, 33.3]

In [42]:
for i in range(100):
    print(i,end=(","))

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [44]:
"hj" in n44[1]

True

In [45]:
#Add new items in list
n44.append("yo")

In [46]:
print(n44)

[[1, 2], ['yuiuh', 'hj'], [2.3, 33.3], 'yo']

In [47]:
#Insert at specific index
n44.insert(2,"hjkdudxw")

In [48]:
n44

[[1, 2], ['yuiuh', 'hj'], 'hjkdudxw', [2.3, 33.3], 'yo']

In [49]:
#How to remove list element
n44.remove("yo")

In [50]:
n44

[[1, 2], ['yuiuh', 'hj'], 'hjkdudxw', [2.3, 33.3]]

In [51]:
#Remove element using pop at any index
n44[1].pop(1)

'hj'

In [52]:
n44

[[1, 2], ['yuiuh'], 'hjkdudxw', [2.3, 33.3]]

In [53]:
#pop withot index
n44.pop()

[2.3, 33.3]

In [54]:
n44

[[1, 2], ['yuiuh'], 'hjkdudxw']

In [56]:
#delete element using del 
del n44[0][1]

In [57]:
n44

[[1], ['yuiuh'], 'hjkdudxw']

# Copy List

In [63]:
#Proper way to copy list
newlist=n44.copy()

In [64]:
newlist

[[1], ['yuiuh'], 'hjkdudxw']

In [65]:
newlist.insert(3,"hgdshhjdg")

In [66]:
newlist

[[1], ['yuiuh'], 'hjkdudxw', 'hgdshhjdg']

In [67]:
n44

[[1], ['yuiuh'], 'hjkdudxw']

In [68]:
#Remove all element from list
newlist.clear()

In [69]:
newlist

[]

In [70]:
#join to lists 
listt=["jdsbh","ksdjkf","hdfg"]
lisst=["huidhfv","hsdh"]
print(listt)
print(lisst)

['jdsbh', 'ksdjkf', 'hdfg']
['huidhfv', 'hsdh']

In [73]:
#join by concatination 
All=lisst+listt
All
print(len(All))

5

In [75]:
for i in lisst:
    listt.append(i)
listt

['jdsbh', 'ksdjkf', 'hdfg', 'huidhfv', 'hsdh', 'huidhfv', 'hsdh']

In [77]:
list1=[1,2,3,4,5,5]
list2=[7,8,8,9,0,00,8,78]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 5, 7, 8, 8, 9, 0, 0, 8, 78]

In [79]:
#How to create list using constructor way
list1=[1,2,3,34,]   #normal list
print(list1)
list2=list((2,3,34,45,5,5))  #constructor way to create list
print(list2)

[1, 2, 3, 34]
[2, 3, 34, 45, 5, 5]